<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
  {{ partial "google-fonts" . }}
</head>
<body>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer class="text-xs tracking-widest text-center text-neutral-700">
    {{ partial "footer.html" . }}
  </footer>


<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
<script defer src="https://unpkg.com/split-type"></script>
</body>
</html>
