$font-heading: {{ $.Site.Params.heading_font | default "'Roboto', sans-serif" }};
$font-body: {{ $.Site.Params.body_font | default "'Roboto', sans-serif" }};

@font-face {
  font-family: "Microgramma";
  src: url('../fonts/Microgramma D Extended Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Microgramma";
  src: url('../fonts/MicrogrammaEF Extend Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


a {
  color: #00e;
  text-decoration: none;
}

body {
  font-family: $font-body;
  background-color: #101010;
  color: #fff;
  cursor: none;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Microgramma'; 
}


/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 2em;
}



.cursor{
  position: fixed;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: transform 0.3s ease;
  transform-origin: center center;
  pointer-events: none;
  z-index: 1000;
}

.grow, .grow-small{
  transform: scale(4);
  background: white;
  mix-blend-mode: difference; 
  border: none;
}

.grow-small{
  transform: scale(.5);
}