<!-- Row -->
<div id="behind-domu-section" class="light-section-wrapper text-align-center change-header-color"
    data-bgcolor="#0c0c0c">
    <div class="light-section-container content-max-width">
        <h2 class="has-mask-fill primary-font-title">{{ .Title }}</h2>
        {{ range $index, $person := .Params.people }}
        <div class="content-row row_padding_bottom" data-bgcolor="#fff">
            <div class="pinned-section">

                <!-- Pinned Element (Text) -->
                <div class="pinned-element left text-align-right">
                    <h5 class="no-margins">{{ $person.name }}</h5>
                    <p><strong>Role:</strong> {{ $person.role }}</p>
                    <p>{{ $person.bio | markdownify }}</p>
                    <!-- Website Link -->
                    <p class="has-animation">
                        [ <a class="link-text" target="_blank" href="{{ $person.website }}">
                            <span class="link" data-hover="Website">Website</span>
                        </a> ]
                    </p>
                </div>

                <!-- Scrolling Element (Image) -->
                <div class="scrolling-element right">
                    <figure class="has-animation">
                        <a href="{{ $.RelPermalink | relURL }}/{{ $person.photo }}" class="image-link">
                            <img src="{{ $.RelPermalink | relURL }}/{{ $person.photo }}" alt="{{ $person.name }}">
                        </a>
                    </figure>
                </div>

            </div>
        </div>
        {{ end }}
    </div>
</div>
<!--/Row -->