<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Studio Domu – Film production company based in London" />

<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

{{- if .Site.GoogleAnalytics }}
<!-- Start cookieyes banner -->
<script id="cookieyes" type="text/javascript"
    src="https://cdn-cookieyes.com/client_data/179349fc34175548116c5f2c/script.js"></script>
<!-- End cookieyes banner -->
<script>
    if (localStorage.getItem("doNotTrack") === null) {
        localStorage.setItem("doNotTrack", "1") // default value before any choice has been made
    }
    var doNotTrack = localStorage.getItem("doNotTrack");
</script>
{{ template "_internal/google_analytics.html" . }}
{{- end}}

{{ partial "head/css.html" . }}