<!-- Hero Section -->
<div id="hero" class="has-image autoscroll1">
    <div id="hero-styles">
        <div id="hero-caption" class="content-full-width parallax-scroll-caption text-align-center height-title">
            <div class="inner">
                <h1 class="hero-title caption-timeline primary-font-title">
                    <span>{{ .Title }}</span>
                </h1>
            </div>
        </div>
        <div id="hero-description" class="content-full-width">
            <div class="inner">
                <p class="bigger has-opacity">{{ .Params.synopsis }}</p>
                <br>
                <p class="bigger no-margins">Date</p>
                <p class="has-opacity">{{ .Date.Format "2006" }}</p>
                {{ with .Params.website }}
                <p class="has-animation">[ <a class="link-text" target="_blank" href="{{ . }}"><span class="link"
                            data-hover="Website">Website</span></a> ]</p>
                {{ end }}

                {{ with .Params.buttons }}
                {{ range . }}
                <p class="has-animation">[ <a class="link-text" target="_blank" href="{{ .url }}"><span class="link"
                            data-hover="{{ .name }}">{{ .name }}</span></a> ]</p>
                {{ end }}
                {{ end }}
            </div>
        </div>

        <div id="hero-footer">
            <div class="hero-footer-left">
                <div class="button-wrap right scroll-down">
                    <div class="icon-wrap parallax-wrap">
                        <div class="button-icon parallax-element">
                            <i class="fa-solid fa-angle-down"></i>
                        </div>
                    </div>
                    <div class="button-text sticky right">
                        <span data-hover="{{ .Params.hero_button_text }}">{{ .Params.hero_button_text }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="hero-image-wrapper">
        <div id="hero-background-layer" class="parallax-scroll-image">
            {{ if .Params.trailer_file }}
            <video id="hero-bg-video" class="bgvid" autoplay loop muted>
                <source src="{{ .Params.trailer_file }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            {{ else if .Params.youtube }}
            <iframe id="hero-bg-video" class="bgvid"
                src="https://www.youtube.com/embed/{{ .Params.youtube }}?autoplay=1&loop=1&mute=1&playlist={{ .Params.youtube }}&controls=0"
                frameborder="0" allowfullscreen>
            </iframe>
            {{ else if .Params.vimeo }}
            <iframe id="hero-bg-video" class="bgvid"
                src="https://player.vimeo.com/video/{{ .Params.vimeo }}&autoplay=1&loop=1&muted=1&background=1"
                frameborder="0" allowfullscreen>
            </iframe>
            {{ else }}
            <div id="hero-image-wrapper">
                <div id="hero-background-layer" class="parallax-scroll-image">
                    <div id="hero-bg-image" style="background-image:url('{{ .RelPermalink }}/{{ .Params.image }}');">
                    </div>
                </div>
                <div class="dark-overlay"></div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
<!--/Hero Section -->