{{ define "main" }}

<div id="main">

    {{ partial "hero-projects.html" . }} <div id="main-content">
        <div id="main-page-content" class="content-max-width">

            {{/* Conditional Crew Section */}}
            {{ if .Params.crew }}
            {{ partial "crew.html" (dict "title" "" "crew" .Params.crew) }}
            {{ end }}


            {{/* Conditional "Watch it" Video Player Section */}}
            {{ if or .Params.trailer_file .Params.youtube .Params.vimeo }}
            <div class="text-align-center"><span class="big-title primary-font-title no-margins has-mask-fill">Watch
                    it</span></div>
            <hr>
            <hr>
            <hr>
            <hr class="destroy">

            {{ partial "gallery/video_player.html" (dict "image" .Params.image "trailer_file" .Params.trailer_file
            "youtube" .Params.youtube "vimeo" .Params.vimeo) }}

            <hr>
            <hr>
            <hr>
            <hr class="destroy">
            {{ end }}


            {{/* Conditional "Stills" Gallery Panels Section */}}
            {{ if .Params.panels }}
            <div class="text-align-center"><span class="big-title primary-font-title no-margins">Stills</span></div>
            <hr>
            <hr>
            <hr>
            <hr class="destroy">

            {{ partial "gallery/panels.html" (dict "panels" .Params.panels) }}
            {{ end }}

        </div>
    </div>
</div>
{{ end }}