<div class="content-row row_padding_bottom dark-section" data-bgcolor="#171717">
    <div class="pinned-section">
        <div class="pinned-element left">
            <h5 class="no-margins">{{ .title }}</h5>
            <p>{{ .description }}</p>
        </div>
        <div class="scrolling-element right">
            <figure class="has-animation">
                <a href="{{ .image }}" class="image-link"><img src="{{ .image }}" alt="Image Title"></a>
            </figure>
        </div>
    </div>
</div>