<div class="video-wrapper autocenter">
    <div class="video-cover" data-src="{{ .image }}"></div>

    {{ if .trailer_file }}
    <video class="bgvid" controls loop preload="auto">
        <source src="{{ .trailer_file }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="control">
        <div class="btmControl">
            <div class="progress-bar">
                <div class="progress">
                    <span class="bufferBar"></span>
                    <span class="timeBar"></span>
                </div>
            </div>
            <div class="video-btns">
                <div class="sound sound2 btn" title="Mute/Unmute sound">
                    <i class="fa fa-volume-up" aria-hidden="true"></i>
                    <i class="fa fa-volume-off" aria-hidden="true"></i>
                </div>
                <div class="btnFS btn" title="Switch to full screen">
                    <i class="fa fa-expand" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

    {{ else if .youtube }}
    <iframe width="100%" height="100%"
        src="https://www.youtube.com/embed/{{ .youtube }}?autoplay=1&loop=1&mute=1&playlist={{ .youtube }}"
        frameborder="0" allowfullscreen allowautoplay>
    </iframe>
    {{ else if .vimeo }}
    <iframe width="100%" height="100%"
        src="https://player.vimeo.com/video/{{ .vimeo }}&autoplay=0&loop=1&muted=0&background=0" frameborder="0"
        allowfullscreen allowautoplay>
    </iframe>
    {{ end }}


</div>